/* Style global du body */
body {
  margin: 0;
  padding: 0;
  background: #220030;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

/* Style du canvas où le jeu est dessiné */
#canvas {
  margin-top: 40%;
  border: 3px solid rgb(177, 109, 255);
}

/* Conteneur principal du jeu */
#container {
  position: relative;
}

/* Style du texte affichant le score */
p {
  position: absolute;
  align-content: center;
  margin-top: 20%;
  color: rgb(233, 201, 253);
  font-size: 30px;
  font-weight: bold;
}

/* Style pour l'affichage du score */
#score {
  position: absolute;
  align-items: center;
  margin-top: 20%;
  left: 75%;
  color: rgb(175, 109, 212);
  font-size: 30px;
  font-weight: bold;
}

/* Conteneur pour le logo du jeu */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 30vh;
}

/* Style de l'image du logo */
img {
  margin-top: 5%;
  max-width: 80%;
  height: auto;
}

/* Conteneur pour les boutons de commande */
#button-container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 30vh;
}

/* Style du bouton de pause */
#pause-button {
  margin-top: 25%;
  padding: 12px 24px;
  color: #ffffff;
  background-color: #6e2e88;
  font-family: sans-serif;
  font: bold;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 6px;
  border-style: hidden;
  border: #ffffff solid 2px;
}

/* Style général des fenêtres pop-up */
.popup {
  position: fixed;
  padding-top: 50%;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  padding: 50px;
  background-color: #af93bd;
  border: 3px solid #260c35;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style pour le texte des fenêtres pop-up */
.popup p {
  margin: 10px 0;
}

/* Style des boutons dans les fenêtres pop-up */
.popup button {
  display: block;
  padding-top: 50%;
  width: 100%;
  padding: 15px;
  margin-top: 40px;
  background-color: #260c35;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Style des boutons au survol dans les fenêtres pop-up */
.popup button:hover {
  background-color: #ffffff;
  border: 3px, solid, #260c35;
  color: #260c35;
}

/* Style pour le titre h2 dans les pop-ups */
h2 {
  position: absolute;
  align-content: center;
  margin-top: 50%;
  color: #260c35;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Style pour le texte h3 dans les pop-ups */
h3 {
  position: absolute;
  align-content: center;
  margin-top: -20px;
  color: #260c35;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Style spécifique pour la pop-up de démarrage */
.beguinPopup {
  position: fixed;
  padding-top: 50%;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 275px;
  padding: 50px;
  background-color: #af93bd;
  border: 3px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style pour le texte dans la pop-up de démarrage */
.beguinPopup p {
  margin: 10px 0;
}

/* Style des boutons dans la pop-up de démarrage */
.beguinPopup button {
  display: block;
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-top: 30%;
  background-color: #260c35;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: xx-large;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Style des boutons au survol dans la pop-up de démarrage */
.beguinPopup button:hover {
  background-color: #ffffff;
  border: 3px, solid, #260c35;
  color: #260c35;
}

/* Style pour le titre h4 dans la pop-up de démarrage */
h4 {
  position: absolute;
  align-content: center;
  margin-top: 5%;
  margin-left: 7%;
  color: #260c35;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
